﻿@model BackstageData.Models.UserModel
@{
    ViewBag.Title = "Configurações";
}
<div class="page-header">
    <h1>
        Backstage <small>Minhas configurações</small></h1>
</div>
<div class="alert alert-block alert-error" style="display: none;">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-heading">
        Ops!</h4>
    Corrija os erros abaixo antes de continuar:
    <ul id="errors">
    </ul>
</div>
<h3>
    Dados Básicos</h3>
@if (TempData["BasicOk"] != null)
{
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
            <strong>Hooray!</strong> Seus dados foram atualizados com sucesso.
    </div>
}
else if (TempData["BasicFailed"] != null)
{ 
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
            <strong>Pff!</strong> Houve um erro ao armazenar seus dados.
    </div>
}
else if (TempData["PasswordFailed"] != null)
{
 <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
            <strong>Dafuq!</strong> Houve um erro ao alterar sua senha.
    </div>
}
else if (TempData["PasswordOk"] != null)
{
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
            <strong>Arr!</strong> Sua senha foi alterada com êxito.
    </div>
}
<form action="/Me/UpdateUserBasic" method="post" class="form-horizontal" id="basicForm">
<fieldset>
    <div class="control-group">
        <label for="desc">
            Nome</label>
        <div class="controls">
            <input type="text" name="name" id="name" class="input-xlarge"  value="@Model.Name"/>
            <p class="help-block" style="display: none;">
            </p>
        </div>
    </div>
    <div class="control-group">
        <label for="desc">
            Email</label>
        <div class="controls">
            <input type="text" name="email" id="email" class="input-xlarge" value="@Model.Email" />
            <p class="help-block" style="">
                <strong>Hey!</strong> Notificações serão enviadas para esse endereço.</p>
        </div>
    </div>
    <div class="control-group">
        <label for="desc">
            Usuário</label>
        <div class="controls">
            <input type="text" name="user" id="user" class="input-xlarge" value="@Model.Username" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="javascript:void(0)" id="basicCommit" class="btn btn-primary"><i class="icon-ok icon-white">
            </i> Salvar mudanças</a>
        </div>
    </div>
</fieldset>
</form>
<hr class="soften" />
<h3>
    Senha</h3>
<form action="/Me/ChangePass" method="post" class="form-horizontal" id="passwordForm">
<fieldset>
    <div class="control-group">
        <label for="desc">
            Nova Senha</label>
        <div class="controls">
            <input id="p1" name="newPass" type="password" class="input-xlarge" />
            <p class="help-block" style="display: none;">
            </p>
        </div>
    </div>
    <div class="control-group">
        <label for="desc">
            Confirme</label>
        <div class="controls">
            <input id="p2" type="password" class="input-xlarge" />
            <p class="help-block" style="display: none;">
            </p>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="javascript:void(0)" id="passwCommit" class="btn btn-primary"><i class="icon-lock icon-white">
            </i> Alterar minha senha</a>
        </div>
    </div>
</fieldset>
</form>
<script type="text/javascript">
    Namespaces.import("Backstage.Configurations");
    var Metadata = @Html.Raw(Json.Encode(Model));

</script>
