﻿@model BackstageData.Models.ProjectModel
@{
    ViewBag.Title = "Gerenciar Assuntos";
    var temp = BackstageData.Store.SelectMultiple<BackstageData.Models.AreaModel>("Project = " + Model.idProjects);
    var list = new Dictionary<BackstageData.Models.AreaModel, uint>();
    foreach(var a in temp) {
        list.Add(a, uint.Parse(BackstageData.Store.SelectMultiple<BackstageData.Models.DocModel>("Area = " + a.idAreas).Length.ToString()));
    }
}
<div class="page-header">
    <h1><a href="/Project/@Model.SafeName">
    &lt; @Model.ProjectName</a> <small>Gerenciar assuntos</small></h1>
</div>
@if (list.Count < 1)
{ 
<div class="alert">
    <strong>Whoa!</strong> Esse projeto não possui assuntos.
</div>
}
else { 
<table class="table table-bordered table-stripped">
<thead>
    <tr>
        <th style="width:90%">Nome</th>
        </tr>
</thead>
<tbody>
@foreach (var l in list)
{ 
<tr id="subject-@l.Key.idAreas">
    <td><span data-type="name">@l.Key.AreaName</span> <span class="label label-info pull-right">@(l.Value == 0 ? "Nenhum" : l.Value.ToString()) documento@(l.Value > 1 ? "s" : "")</span></td>
    <td><a href="javascript:void(0)" data-action="renameSubject" data-id="@l.Key.idAreas" class="btn"><i class="icon-pencil"></i></a></td>
    <td><a href="javascript:void(0)" data-action="removeSubject" data-id="@l.Key.idAreas" class="btn"><i class="icon-trash"></i></a></td>
</tr>
}
</tbody>
</table>
}


<script type="text/javascript">
    Namespaces.import("Backstage.Subjects.New");
    Namespaces.import("Backstage.Subjects.Management");
    Metadata = @Html.Raw(Json.Encode(Model));
</script>
