﻿@model BackstageData.Models.AreaModel

@{
    Layout = null;
    var docs = BackstageData.Store.SelectMultiple<BackstageData.Models.DocModel>("Area = " + Model.idAreas);
    var seen = BackstageData.Store.SelectMultiple<BackstageData.Models.SeenDocModel>("UserID = " + Backstage.Models.UserAuthenticationModel.UserID);
    var c = docs.Length;
    docs = (from d in docs
            orderby d.DocName ascending
            select d).ToArray();
}

<div class="page-header">
    <h1>@Model.AreaName <small>@(c == 0 ? "Nenhum" : c.ToString()) Documento@(c > 1 ? "s" : string.Empty)</small></h1>
</div>
@if (c > 0)
{ 
<table class="table table-bordered table-striped filetable">
        <thead>
            <tr>
                <th style="width:65%">Título</th>
                <th>Autor</th>
                <th style="width:46px!important;"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var d in docs)
        {
            bool read = seen.Any(doc => doc.DocID == d.idDocs);
            string docname = System.IO.Path.GetFileNameWithoutExtension(d.DocName);
            if (!read) { docname = "<strong>" + docname + "</strong>"; }
        <tr id="document-@d.idDocs">
            <td><i class="icon-eye-@(read ? "close" : "open")" rel="tooltip" title="@(read ? "Lido" : "Não lido")"></i> @docname</td>
            <td>@(d.SenderObject.Name.Split(' ')[0])</td>
            <td style="width:46px;">
            
            <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i>
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="Backstage.GetDocument[@d.DocInternalID]"><i class="icon-download"></i> Baixar</a></li>
                                        <li><a href="Backstage.RenameDocument" data-itemid="@d.idDocs">
                                            <i class="icon-pencil"></i> Renomear</a></li>
                                        <li><a href="Backstage.MoveDocument" data-itemid="@d.idDocs">
                                            <i class="icon-share-alt"></i> Mover</a></li>
                                        <li class="divider"></li>
                                        <li><a href="Backstage.RemoveDocument" data-itemid="@d.idDocs">
                                            <i class="icon-trash"></i> Remover</a></li>
                                    </ul>
                                </div>
            
            </td>
        </tr>
        }
        </tbody>
    </table>
       <small><strong>Nota:</strong> Utilize a página inicial para enviar documentos</small>
}
else { 
    <div class="alert">
  <i class="icon-info-sign"></i> <strong>Cadê?</strong> Esse assunto não possui documentos. Utilize a página inicial para enviá-los.

</div>
}
 