﻿@model BackstageData.Models.ProjectModel
@{
    Layout = null;
    var docs = new List<BackstageData.Models.DocModel>();
    var unread = new List<BackstageData.Models.DocModel>();
    var seen = BackstageData.Store.SelectMultiple<BackstageData.Models.SeenDocModel>("UserID = " + Backstage.Models.UserAuthenticationModel.UserID);
    var areas = BackstageData.Store.SelectMultiple<BackstageData.Models.AreaModel>("Project = " + Model.idProjects);
    int areasCount = areas.Length;
    int docsCount = 0;
    foreach (var a in areas)
    {
        var adocs = BackstageData.Store.SelectMultiple<BackstageData.Models.DocModel>("Area = " + a.idAreas);
        docsCount += adocs.Length;
        foreach (var d in BackstageData.Store.SelectMultiple<BackstageData.Models.DocModel>("Area = " + a.idAreas))
        {
            docs.Add(d);
            if (!seen.Any(doc => doc.DocID == d.idDocs)) {
                unread.Add(d);
            }
        }
    }
    unread = (from u in unread
              orderby u.DocName
              select u).ToList();
}
<div class="page-header">
    <h1>@Model.ProjectName <small>@Model.ProjectDescription</small></h1>
</div>
  @if (TempData["uploadok"] != null)
    {
    <div class="alert alert-success">
  <i class="icon-ok"></i> <strong>Hooray!</strong> Seu documento foi armazenado com sucesso.
</div>
    }
    @if (TempData["failedupload"] != null)
    {
    <div class="alert alert-error">
  <i class="icon-remove"></i> <strong>Vish!</strong> Não foi possível armazenar seu documento. Tente novamente.
</div>
    }
<div class="row-fluid">
    <div class="span6">
  
        <h2>@(areasCount == 0 ? "Nenhum" : areasCount.ToString()) Assunto@(areasCount > 1 ? "s" : string.Empty)</h2>
        <p>
            Utilize os assuntos para organizar o repositório de documentos. Cada assunto suporta
            uma quantidade infinita de documentos. Você pode ver a lista de assuntos à esquerda.</p>
        <p>
            <a class="btn btn-primary" href="Backstage.NewSubject"><i class="icon-plus icon-white">
            </i> Novo assunto</a></p>
    </div>
    <!--/span-->
    <div class="span6">
        <h2>@(docsCount == 0 ? "Nenhum" : docsCount.ToString()) Documento@(docsCount > 1 ? "s" : string.Empty)</h2>
        <p>
            Ao selecionar um assunto no menu à esqueda, os documentos pertencentes ao assunto
            serão listados aqui. Você escolhe a qual assunto o documento pertencerá durante
            o processo de upload.</p>
        <p>
            <a class="btn btn-primary" href="Backstage.UploadDocument"><i class="icon-upload icon-white"></i> Enviar documento</a></p>
    </div>
    <!--/span-->
</div>
<!--/row-->
<hr class="soften" />
@if (unread.Count > 0)
{
<h2>Documento@(unread.Count > 1 ? "s" : string.Empty) não lido@(unread.Count > 1 ? "s" : string.Empty) (@unread.Count)</h2>
    <table class="table table-bordered table-striped filetable">
        <thead>
            <tr>
                <th style="width:45%">Título</th>
                <th style="width:30%;">Assunto</th>
                <th style="width:20%">Autor</th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var d in unread)
        { 
        <tr id="document-@d.idDocs">
            <td><strong>@System.IO.Path.GetFileNameWithoutExtension(d.DocName)</strong></td>
            <td>@(d.AreaObject.AreaName)</td>
            <td>@(d.SenderObject.Name.Split(' ')[0])</td>
            <td><a href="Backstage.GetDocumentFromHP[@d.DocInternalID]" class="btn btn-success" title="Clique para baixar"><i class="icon-download icon-white"></i></a></td>
        </tr>
        }
        </tbody>
    </table>
}
else
{ 
<div class="alert alert-success">
  <i class="icon-eye-close"></i> <strong>Aw yea!</strong> Você não possui documentos não lidos, @(Backstage.Models.UserAuthenticationModel.RealName.Split(' ')[0])!
</div>
}