﻿@{
    Layout = null;
    var list = BackstageData.Store.SelectMultiple<BackstageData.Models.ProjectModel>();
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | Backstage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet">
    <script src="/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/Scripts/underscore.js" type="text/javascript"></script>
    @if (!(ViewBag.SkipBackstageJS ?? false))
    { 
        <script src="/Scripts/Namespaces.js" type="text/javascript"></script>
        <script type="text/javascript">
            Namespaces.import("Backstage");
            Namespaces.import("Backstage.Util.JsonSelect");
        </script>
    }
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/fav.ico")">
</head>
<body class="@(ViewBag.Jumbo ?? false ? "Jumbo" : string.Empty)">
    @if (Backstage.Models.UserAuthenticationModel.IsAuthenticated)
    { 
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </a><img src="/Content/Images/BackstageIcon.png" class="logo"/><a class="brand" href="/">Backstage</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Projetos
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @if (list.Length == 0)
                                    { 
                                    <li><a>Nenhum projeto</a></li>
                                    }
                                    else
                                    {
                                        foreach (var p in list)
                                        { 
                                            <li><a href="/Project/@p.SafeName">@p.ProjectName</a></li>
                                        }
                                    }
                                    <li class="divider"></li>
                                    <li><a href="#newProj" data-toggle="modal">Novo projeto</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@Backstage.Models.UserAuthenticationModel.PrettyName
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Me/Configurations">Configurações</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/Me/Logout">Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    { 
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <img src="/Content/Images/BackstageIcon.png" class="logo"/><a class="brand" href="/">Backstage</a>
                </div>
            </div>
        </div>
    }
    <div class="container">
    @if ((ViewBag.Jumbo ?? false))
    { 
        <header class="jumbotron subhead" id="overview">
        <h1>@ViewBag.Title</h1>
        <p class="lead">@ViewBag.Description</p>
      </header>
    }
    else
    { 
        <div class="page-header">
            <h1>@ViewBag.Title <small>@ViewBag.Description</small></h1>
        </div>
    }
        <section id="content">
      @RenderBody()
      </section>
        <!-- Footer

      ================================================== -->
        <footer class="footer">
        <p class="pull-right"><a href="#">Voltar ao topo</a></p>
        <p>Copyright 2012 - Hexic Labs</p>
         @if (Backstage.Models.UserAuthenticationModel.IsAuthenticated)
         { 
        <p class="pull-right">Backstage <a href="/Changelog">@{Html.RenderPartial("Version");}</a></p>
         }
         else
         { 
         <p class="pull-right">Backstage @{Html.RenderPartial("Version");}</p>
         }
      </footer>
    </div>
    <!-- /container -->
    <script src="/Scripts/bootstrap-transition.js"></script>
    <script src="/Scripts/bootstrap-alert.js"></script>
    <script src="/Scripts/bootstrap-modal.js"></script>
    <script src="/Scripts/bootstrap-dropdown.js"></script>
    <script src="/Scripts/bootstrap-scrollspy.js"></script>
    <script src="/Scripts/bootstrap-tab.js"></script>
    <script src="/Scripts/bootstrap-tooltip.js"></script>
    <script src="/Scripts/bootstrap-popover.js"></script>
    <script src="/Scripts/bootstrap-button.js"></script>
    <script src="/Scripts/bootstrap-collapse.js"></script>
    <script src="/Scripts/bootstrap-carousel.js"></script>
    <script src="/Scripts/bootstrap-typeahead.js"></script>
</body>
</html>
