﻿@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Selecionar projeto";
    ViewBag.Description = "Selecione abaixo o projeto no qual você deseja ter acesso ao repositório de documentos";
    ViewBag.Jumbo = true;
    var list = BackstageData.Store.SelectMultiple<BackstageData.Models.ProjectModel>();
    list = (from p in list
            orderby p.ProjectName ascending
            select p).ToArray();
    
}
@if (TempData["newfailed"] != null)
{
    <div class="alert">
        <center>
            <strong>Ah!</strong> Não foi possível armazenar seu projeto</center>
    </div>
}
@if (TempData["editfailed"] != null)
{
    <div class="alert">
        <center>
            <strong>Ah!</strong> Não foi possível atualizar seu projeto</center>
    </div>
}
@if (list.Length == 0)
{ 
    <div class="alert">
        <center>
            <strong>Whoa!</strong> Parece que não temos nenhum projeto cadastrado</center>
    </div>
}
else
{
    <ul class="thumbnails">
        @foreach (var p in list)
        { 
            <li>
                <div class="thumbnail">
                    <img src="@string.Format("/Data/Images/{0}.png", p.SafeName)" alt="">
                    <div class="caption">
                        <h5>@p.ProjectName</h5>
                        <p>@p.ProjectDescription</p>
                        <p>
                            <div class="btn-toolbar" style="margin-top: 18px;">
                                <div class="btn-group">
                                    <a href="/Project/@p.SafeName" class="btn btn-primary">Acessar</a></div>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i>
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Project/@p.SafeName"><i class="icon-share-alt"></i>Acessar</a></li>
                                        <li><a href="javascript:void(0)" data-itemid="@p.idProjects" data-action="editpicture">
                                            <i class="icon-picture"></i> Editar imagem</a></li>
                                        <li><a href="javascript:void(0)" data-itemid="@p.idProjects" data-action="editdescription">
                                            <i class="icon-pencil"></i> Editar</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)" data-itemid="@p.idProjects" data-action="removeproject">
                                            <i class="icon-trash"></i> Remover</a></li>
                                    </ul>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </li>
        }
    </ul>
}
<div id="newProj" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>
            Novo projeto</h3>
    </div>
    <div class="modal-body">
        <form action="/raw/NewProject" method="post" class="form-horizontal" enctype="multipart/form-data">
        <fieldset>
            <div class="control-group">
                <label for="name">
                    Nome:</label>
                <div class="controls">
                    <input type="text" name="name" class="input-xlarge" />
                    <p class="help-block" style="display: none;">
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label for="desc">
                    Descrição</label>
                <div class="controls">
                    <textarea class="input-xlarge" name="desc" rows="3"></textarea>
                    <p class="help-block" style="display: none;">
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label for="desc">
                    Imagem de exibição</label>
                <div class="controls">
                    <input type="file" name="file" />
                    <p class="help-block fix">
                        <strong>Nota:</strong> O tamanho da imagem de exibição deve ser de 260x180</p>
                    <p class="help-block" style="display: none;">
                        Selecione a imagem</p>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" id="newProj_commit" class="btn btn-primary">Salvar alterações</a>
        <a href="javascript:void(0)" class="btn" data-dismiss="modal">Fechar</a>
    </div>
</div>
<div id="remotionWarn" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>
            Remover Projeto</h3>
    </div>
    <div class="modal-body">
        <p>
            Você está prestes a remover um projeto do sistema. Fazendo isso, todos os documentos
            associados a ele serão excluídos.<br />
            Deseja realmente fazer isso?</p>
        <p>
            <span class="label label-important">Aviso</span> Essa ação não poderá ser desfeita</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" data-action="commitRemoval" class="btn btn-danger">Destrua
            tudo</a> <a href="javascript:void(0)" class="btn" data-dismiss="modal">Tire me daqui!</a>
    </div>
</div>
<div id="removingModal" class="modal hide fade">
    <div class="modal-header">
        <h3>
            Removendo projeto...</h3>
    </div>
    <div class="modal-body">
        <p>
            O projeto selecionado está sendo removido...</p>
        <div class="progress progress-danger progress-striped active">
            <div class="bar" style="width: 100%;">
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>
<div id="remotionFailed" class="modal hide fade">
    <div class="modal-header">
        <h3>
            Falha na remoção do projeto</h3>
    </div>
    <div class="modal-body">
        <p>
            O sistema não pôde remover o projeto selecionado.</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-primary" data-dismiss="modal">OK</a>
    </div>
</div>
<div id="editModal" class="modal hide fade">
  <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>
            Editar descrição do projeto</h3>
    </div>
    <div class="modal-body">
        <form action="/raw/EditProject" method="post" class="form-horizontal" enctype="multipart/form-data">
        <input type="hidden" name="projectID" />
        <fieldset>
            <div class="control-group">
                <label for="name">
                    Nome:</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" disabled="disabled" />
                    <p class="help-block" style="display: none;">
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label for="desc">
                    Descrição</label>
                <div class="controls">
                    <textarea class="input-xlarge" name="desc" rows="3"></textarea>
                    <p class="help-block" style="display: none;">
                    </p>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" id="editProj_commit" class="btn btn-primary">Salvar alterações</a>
        <a href="javascript:void(0)" class="btn" data-dismiss="modal">Fechar</a>
    </div>
</div>
<div id="changePic" class="modal hide fade">
  <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>
            Substituir imagem do projeto</h3>
    </div>
    <div class="modal-body">
        <form action="/raw/ChangeProjectImage" method="post" class="form-horizontal" enctype="multipart/form-data">
        <fieldset>
            <input type="hidden" name="projectID" />
            <div class="control-group">
                <label for="desc">
                    Imagem de exibição</label>
                <div class="controls">
                    <input type="file" name="file" />
                    <p class="help-block fix">
                        <strong>Nota:</strong> O tamanho da imagem de exibição deve ser de 260x180</p>
                    <p class="help-block" style="display: none;">
                        Selecione a imagem</p>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" id="changePic_commit" class="btn btn-primary">Salvar alterações</a>
        <a href="javascript:void(0)" class="btn" data-dismiss="modal">Fechar</a>
    </div>
</div>
<script type="text/javascript">
    Namespaces.import("Backstage.Projects.NewProjectModal");
    Namespaces.import("Backstage.Projects.ProjectManagement");
    Metadata = @Html.Raw(Json.Encode(list));
</script>
